<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="aKontrollerSoap" maxReceivedMessageSize = "5000000"/>
        <binding name="KnowledgeLibraryWSSoap" maxReceivedMessageSize = "5000000"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dam.ise.bgu.ac.il/dime/aKontroller.asmx"
        binding="basicHttpBinding" bindingConfiguration="aKontrollerSoap"
        contract="DataService.aKontrollerSoap" name="aKontrollerSoap" />
      <endpoint address="http://degel.ise.bgu.ac.il/DeGeLIV/DeGeLogic/KnowledgeLibraryWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="KnowledgeLibraryWSSoap"
        contract="KnowledgeService.KnowledgeLibraryWSSoap" name="KnowledgeLibraryWSSoap" />
    </client>
  </system.serviceModel>
</configuration>