<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="KnowledgeLibraryWSSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="KnowledgeLibraryWSSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://degel.ise.bgu.ac.il/DeGeLIV/DeGeLogic/KnowledgeLibraryWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="KnowledgeLibraryWSSoap"
                contract="ServiceReference1.KnowledgeLibraryWSSoap" name="KnowledgeLibraryWSSoap" />
            <endpoint address="http://degel.ise.bgu.ac.il/DeGeLIV/DeGeLogic/KnowledgeLibraryWS.asmx"
                binding="customBinding" bindingConfiguration="KnowledgeLibraryWSSoap12"
                contract="ServiceReference1.KnowledgeLibraryWSSoap" name="KnowledgeLibraryWSSoap12" />
        </client>
    </system.serviceModel>
</configuration>